h1,
h3,
h4,
div {
  text-align: center;
  color: #dfe5e7;
}

#bgImg {
  background-image: url('../images/bart.jpg');
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bgImg-Overlay {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  padding-top: 20px;
}

#stationSelect {
  color: #333 !important;
  background-color: #fff !important;
  cursor: pointer;
}

select option {
  color: #333;
  background-color: #fff;
}
